@import "../_variables.scss";

.projects {
	min-height: 100vh;
	width: 100%;
	padding: 50px 0 0;
	.projects-wrapper {
		width: 100%;
		display: flex;
		margin-top: 50px;
		flex-wrap: wrap;
		justify-content: space-around;
		.project {
			background-color: #555555;
			position: relative;
			text-decoration: none;
			outline: 1px solid #000000;
			width: calc(100% / 4);
			padding: 0;
			@media (max-width: 1025px) {
				width: 50%;
			}
			@media (max-width: 640px) {
				width: 100%;
			}
			.snapshot {
				width: 100%;
				padding: 0;
				margin: 0;
				position: relative;
				overflow: hidden;
				img {
					display: block;
					width: 100%;
					white-space: nowrap;
					transition: transform 0.2s linear;
				}
				.description {
					width: 100%;
					height: 100%;
					background-color: $accent-color;
					position: absolute;
					z-index: 1;
					top: 0;
					left: 0;
					opacity: 0;
					transition: opacity 0.2s linear;
				}
				@media (min-width: 1025px) {
					&:hover {
						.description {
							opacity: 0.9;
						}
					}
				}
			}
			.brief-desc {
				padding: 10px 20px;
				margin: 0;
				font: 16px 'Montserrat', sans-serif;
				color: $accent-color;
				display: flex;
				flex-flow: row;
				justify-content: space-between;
				width: 100%;
				z-index: 4;
				a {
					text-decoration: none;
					h4 {
						color: $accent-color;
					}
					p {
						color: #B7B7B7;
					}
				}
				div {
					display: flex;
					justify-content: space-between;
					align-items: center;
					padding: 0 5px;
					p {
						color: #878787;
					}
					a {
						text-decoration: none;
						border: none;
						outline: none;
						width: 20px;
						img {
							height: 30px;
							border: none;
							outline: none;
						}
					}
				}
			}
		}
	}
}
