.blocks {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 50px;
}
@media (max-width: 1180px) {
  .blocks {
    flex-flow: column;
  }
}
.blocks .block {
  width: 330px;
  height: 500px;
  border: 1px solid #929292;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  margin-bottom: 30px;
  cursor: default;
}
@media (max-width: 420px) {
  .blocks .block {
    width: 250px;
    height: 420px;
  }
}
.blocks .block h3 {
  background-color: #8C8C8C;
  color: #FFFFFF;
  font: 600 24px 'Raleway', sans-serif;
  text-align: center;
  padding: 30px 0;
  position: relative;
  transition: background-color 0.4s linear;
  letter-spacing: 0.0625em;
}
@media (max-width: 420px) {
  .blocks .block h3 {
    padding: 10px 20px;
    font-size: 26px;
    white-space: pre-wrap;
  }
}
.blocks .block h3:after {
  content: '';
  border-top: 20px solid #8C8C8C;
  border-right: 165px solid transparent;
  border-left: 165px solid transparent;
  position: absolute;
  width: 0;
  height: 0;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  transition: border-top-color 0.4s linear;
}
.blocks .block ul {
  margin-top: 50px;
  padding: 0 20px;
}
@media (max-width: 420px) {
  .blocks .block ul {
    padding: 0 10px;
    margin-top: 35px;
  }
}
.blocks .block ul li {
  text-align: left;
  font: 20px 'Montserrat', sans-serif;
  color: #8C8C8C;
  padding: 10px 0;
  transition: color 0.4s linear;
  position: relative;
  margin-left: 85px;
}
@media (max-width: 420px) {
  .blocks .block ul li {
    padding: 7px 0;
  }
}
.blocks .block ul .html:before,
.blocks .block ul .css:before,
.blocks .block ul .bootstrap:before,
.blocks .block ul .javascript:before,
.blocks .block ul .react:before,
.blocks .block ul .vue:before,
.blocks .block ul .jquery:before,
.blocks .block ul .node:before,
.blocks .block ul .express:before,
.blocks .block ul .postgre:before,
.blocks .block ul .git:before,
.blocks .block ul .github:before,
.blocks .block ul .photoshop:before {
  content: '';
  position: absolute;
  left: -60px;
  filter: grayscale(100%);
  width: 30px;
  height: 30px;
  transition: filter 0.4s linear;
}
.blocks .block ul .html:before {
  background: url("/icons/HTML5_Badge.svg") no-repeat center;
  background-size: contain;
}
.blocks .block ul .css:before {
  background: url("/icons/css-mobile.svg") no-repeat center;
  background-size: contain;
}
.blocks .block ul .bootstrap:before {
  background: url("/icons/");
  background-size: contain;
}
.blocks .block ul .javascript:before {
  background: url("/icons/javascript-1.svg") no-repeat center;
  background-size: contain;
}
.blocks .block ul .react:before {
  background: url("/icons/React-Logo.svg") no-repeat center;
  background-size: contain;
}
.blocks .block ul .vue:before {
  background: url("/icons/vue-9.svg") no-repeat center;
  background-size: contain;
}
.blocks .block ul .jquery:before {
  background: url("/icons/jquery.svg") no-repeat center;
  background-size: contain;
}
.blocks .block ul .node:before {
  background: url("/icons/nodejs.svg") no-repeat center;
  background-size: contain;
}
.blocks .block ul .express:before {
  background: url("/icons/express-js-icon-2.svg") no-repeat center;
  background-size: contain;
}
.blocks .block ul .postgre:before {
  background: url("/icons/postgresql.svg") no-repeat center;
  background-size: contain;
}
.blocks .block ul .git:before {
  background: url("/icons/Git_icon.svg") no-repeat center;
  background-size: contain;
}
.blocks .block ul .github:before {
  background: url("/icons/Octicons-mark-github-2.svg") no-repeat center;
  background-size: contain;
}
.blocks .block ul .photoshop:before {
  background: url("/icons/photoshop-cc.svg") no-repeat center;
  background-size: contain;
}
.blocks .block:hover h3 {
  background-color: #c5b199;
}
.blocks .block:hover h3:after {
  border-top-color: #c5b199;
}
.blocks .block:hover li {
  color: #000000;
}
.blocks .block:hover .html:before,
.blocks .block:hover .css:before,
.blocks .block:hover .bootstrap:before,
.blocks .block:hover .javascript:before,
.blocks .block:hover .react:before,
.blocks .block:hover .vue:before,
.blocks .block:hover .jquery:before,
.blocks .block:hover .node:before,
.blocks .block:hover .express:before,
.blocks .block:hover .postgre:before,
.blocks .block:hover .git:before,
.blocks .block:hover .github:before,
.blocks .block:hover .photoshop:before {
  filter: grayscale(0%);
}
/*# sourceMappingURL=Blocks.css.map */