* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

.App {
	width: 100%;
	overflow: hidden;
}

h2 {
	font: 600 36px 'Raleway', sans-serif;
	text-transform: capitalize;
	text-align: center;
	margin-bottom: 40px;
	color: #545454;
}